@charset "UTF-8";

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Yu Gothic";
	color: #6B6350;
}

main {
	display: block;
}

/*
共通パーツ
*/
.button_1 {
	padding: 18px;
	padding-right: 92px;
	background-color: #99E38F;
	box-shadow:  0px 3px 5px rgba(0,0,0,.3);
	font-weight: bold;
	display: block;
	width: fit-content;
	box-sizing: border-box;
	margin: auto;
	position: relative;
}

.button_1::after {
	content: "";
	position: absolute;
	right: 16px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 54px;
	height: 24px;
	background-image: url("arrow-right-brown.svg");
	background-size: 100% 100%;
	opacity: 1;
	transition: all .25s;
}

.button_1:hover::after {
	right: 0;
	opacity: 0;
}

/*
ヘッダー
*/
header,
body {
	background: #F7FBFF;
}

header > div {
	padding: 8px;
	box-sizing: border-box;
	max-width: 1280px;
	margin: 0 auto;
}

header > div .site_name_wrapper .site_name img,
header > div .site_name_wrapper .site_name span {
	vertical-align: middle;
}

header > div .site_name_wrapper .site_name {
	text-decoration: none;
	color: #000;
	transition: all .25s;
}

header div > .site_name_wrapper .site_name:hover {
	opacity: .5;
}

header .site_name span {
	margin-left: 4px;
}

header .global_nav,
header .contact {
	display: none;
}

header .hamburger_icon {
	font-size: 12px;
	position: fixed;
	right: 8px;
	top: 8px;
	padding-top: 24px;
	background-size: 100% 22px;
	background-repeat: no-repeat;
	height: 16px;
	font-weight: bold;
	text-align: center;
}

header .hamburger_icon::before {
	top: 10px;
}

header .hamburger_nav > * {
	display: block;
}

header .site_name {
	font-weight: bold;
	font-size: 16px;
}

header .site_name .sub {
	font-size: 14px;
	margin-bottom: 4px;
}

header .site_name .logo-small {
	width: 120px;
	display: block;
}

header .site_name .logo-large {
	display: none;
}

@media (min-width: 830px) {
	header .hamburger_icon,
	header .hamburger_nav {
		display: none;
	}
	
	header .global_nav,
	header .contact {
		display: block;
	}

	header > div {
		padding: 16px;
	}

	header .global_nav_wrapper {
		max-width: 1080px;
		margin: 0 auto;
	} 

	header .global_nav {
		padding-top: 20px;
	}

	header .global_nav ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		width: fit-content;
	}

	header .global_nav ul li {
		width: 25%;
		text-align: center;
	}

	header .global_nav ul li a {
		display: block;
		width: 100%;
		font-weight: bold;
		color: #065187;
		text-decoration: none;
		transition: all .3s;
	}

	header .global_nav ul li a:hover {
		opacity: .5;
	}

	header .contact {
		background-color: #065187;
		color: #fff;
		text-decoration: none;
		padding: 12px 12px 8px;
		font-size: 14px;
		box-sizing: border-box;
		width: 140px;
		text-align: center;
		font-weight: bold;
		border-radius: 0 0 12px 12px;
		top: 0;
		right: 0;
		position: fixed;
	}

	header .site_name {
		font-size: 18px;
	}

	header .site_name .logo-large {
		display: block;
		position: absolute;
		top: 14px;
		left: 33px;
	}

	header .site_name span {
		margin-left: 12px;
	}
}

@media (min-width: 768px) {
	header .global_nav ul {
	width: auto;
	}

	header .global_nav ul li {
	width: auto;
	padding: 0 16px;
	}

}

@media screen and (min-width: 1280px) {
	header > div .contact {
		right: calc(50% - 640px);
	}
}

.footer_nav ul {
	width: 280px;
	margin: 32px auto;
}

.footer_nav ul li {
	width: 50%;
	display: inline-block;
	font-weight: bold;
	margin: 8px 0;
	text-align: center;
	transition: .3s;
}

.footer_nav ul li:hover {
	background: #6B6350;
	border-radius: 32px;
}

.footer_nav ul li:hover a {
	color: #EEEADD;
}

.footer .text {
	text-align: center;
	font-size: 14px;
	margin-bottom: 0;
	padding-bottom: 32px;
}
.btu{
	display: block;
	width: 86%;
	max-width: 440px;
	padding: 16px;
	box-sizing: border-box;
	text-align: center;
	margin: 32px auto;
	text-decoration: none;
	color: #ffffff;
	border-radius: 16px;
	font-weight: bold;
	background: linear-gradient(to right,#57938f,#3CC1B9);
	border-radius: 32ex;
  }

.btn_1 {
	display: block;
	width: 86%;
	max-width: 440px;
	padding: 16px;
	box-sizing: border-box;
	text-align: center;
	margin: 32px auto;
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	background: linear-gradient(to right, #57938F, #3CC1B9);
	border-radius: 32px;
}