
.pageContent { font-family:tahoma, arial; font-size:8pt; color:#ffffff; }
.pageContent a { font-family:tahoma, arial; font-size:8pt; color:#ffffff; }

p { text-align:justify; margin:0px 0px 9px 0px; }

/* top */

td.c1 { background-color: #078E88; }
td.c2 { background-color: #078E88; }
td.c3 { background-color: #078E88; }
td.c4 { background-color: #078E88 }
td.top { background-color: #078E88; }
td.bottom { background-color: #078E88; }
td.left { background-color: #078E88; }
td.right { background-color: #078E88; }

td.menu-left { background-color: #4E8BC1; }
td.menu-bottom { background-color: #4E8BC1; }
td.menu-right { background-color: #4E8BC1; }
td.menu-color { background-color:#078E88; }

td.second-bg { background-color:#4E8BC1; }
td.text-bg { background-color:#4E8BC1; }

td.menuitem { color:#ffffff; height:28px; padding:0px 8px; font-family:tahoma,arial; font-size:10px; font-weight:bold; text-transform:uppercase; }
td.menuitemactive { text-decoration:underline; color:#ffffff; height:28px; padding:0px 8px; font-family:tahoma,arial; font-size:10px; font-weight:bold; text-transform:uppercase; }
td.menuitem a { color:#ffffff; text-decoration:none; }
td.menuitemactive a { color:#ffffff; text-decoration:underline; }
td.menudivider { width:8px; }

div.mycompany { font-size:20px; color:#ffffff;  font-family:dincondensedc, arialnarrow, arial; text-transform:uppercase; white-space:nowrap; }
div.slogan { font-size:16px; color:#ffffff; font-family:dincondensedc, arialnarrow, arial; font-weight:bold; }

td.secondmenuitem { width:100%; color:#ffffff; height:24px; font-family:tahoma,arial; font-size:10px; font-weight:bold; }
td.secondmenuitemactive { width:100%; text-decoration:underline; color:#ffffff; height:24px; font-family:tahoma,arial; font-size:10px; font-weight:bold; }
td.secondmenuitem a { color:#ffffff; text-decoration:none; }
td.secondmenuitemactive a { color:#ffffff; text-decoration:underline; }
td.secondmenumark { padding:4px 10px 4px 4px; }
div.secondmenudivider { width:100%; height:1px; background-color:#A7C5E0; }

td.pageheader { font-size:18px; color:#ffffff; font-family:dincondensedc, arial;}

td.thatext { font-family:tahoma, arial; font-size:8pt; color:#ffffff; vertical-align:top; line-height: 20px; }
td.thatext a { color:#ffffff; }

td.thatext1 { font-family:tahoma, arial; font-size:8pt; color:#ffffff; vertical-align:top; line-height: 20px; background-color: #4e8bc1; }

td.text1 { font-family:tahoma, arial; font-size:2pt; color:#ffffff; vertical-align:top; line-height: 20px; }

td.text2 { font-family:tahoma, arial; font-size:8pt; color:#ffffff; vertical-align:top; line-height: 20px; }

td.bottommenuitem { white-space:nowrap; color:#ffffff; font-family:tahoma,arial; font-size:10px; font-weight:bold; }
td.bottommenuitemactive { text-decoration:underline; white-space:nowrap; color:#ffffff; font-family:tahoma,arial; font-size:10px; font-weight:bold; }
td.bottommenuitem a { color:#ffffff; text-decoration:none; }
td.bottommenuitemactive a { color:#ffffff; text-decoration:underline; }
td.bottommenudivider { width:19px; }

td.copy { font-family:tahoma,arial; font-size:10px; color:#ffffff; }
td.copy a { color:#ffffff; }
